<topnav></topnav>

<section class="content" ng-controller="collapseCtrl">
  <h4>我负责的</h4>
  <div class="panel-tl">
    <div class="panel-tl-heading">
      <h4 class="tl-title text-red" ng-click="delayList = !delayList">已经延期(4)
        <span class="fa fa-angle-right" ng-hide="delayList"></span>
        <span class="fa fa-angle-down" ng-show="delayList"></span>
      </h4>
    </div>
    <div class="panel-tl-body" uib-collapse="delayList">
      <ul class="tl-list">
        <li class="tl-list-item">
          <div class="tl-item-par">
            <div class="pull-left">
              <span class="tltlsn">1</span>
              <!-- <span class="fa fa-plus-square-o"></span>
              <span class="fa fa-minus-square-o"></span> -->
              <span class="tlname">彼岸花开无船渡</span>
            </div>
            <div class="pull-right">
              <span class="createtime">2016-03-03</span>
              <span class="iswatch"><i class="fa fa-star-o"></i> 关注</span>
              <!-- <span class="iswatch"><i class="fa fa-star"></i> 取消关注<span> -->
              <span class="isfinish"><i class="fa fa-square-o"></i> 标记完成</span>
              <!-- <span class="isfinish"><i class="fa fa-check-square-o"></i> 标记未完成<span> -->
            </div>
          </div>
        </li>

        <li class="tl-list-item">
          <div class="tl-item-par">
            <div class="pull-left">
              <span class="tlsn">2</span>
              <!-- <span class="fa fa-plus-square-o"></span>
              <span class="fa fa-minus-square-o"></span> -->
              <span class="tlname">彼岸依旧似繁华</span>
            </div>
            <div class="pull-right">
              <span class="createtime">2016-03-03</span>
              <!-- <span class="iswatch"><i class="fa fa-star-o"></i> 关注</span> -->
              <span class="iswatch"><i class="fa fa-star"></i> 取消关注<span>
                <span class="isfinish"><i class="fa fa-square-o"></i> 标记完成</span>
                <!-- <span class="isfinish"><i class="fa fa-check-square-o"></i> 标记未完成<span> -->
              </div>
            </div>
          </li>
          <li class="tl-list-item">
            <div class="tl-item-par">
              <div class="pull-left">
                <span class="tlsn">3</span>
                <!-- <span class="fa fa-plus-square-o"></span>
                <span class="fa fa-minus-square-o"></span> -->
                <span class="tlname">枕上初寒窗外雨，草阶寒露翠欲滴</span>
              </div>
              <div class="pull-right">
                <span class="createtime">2016-03-03</span>
                <span class="iswatch"><i class="fa fa-star-o"></i> 关注</span>
                <!-- <span class="iswatch"><i class="fa fa-star"></i> 取消关注<span> -->
                <!-- <span class="isfinish"><i class="fa fa-square-o"></i> 标记完成</span> -->
                <span class="isfinish"><i class="fa fa-check-square-o"></i> 标记未完成<span>
                </div>
              </div>
            </li>
          </ul>
          <div class="panel-tl-footer" ng-controller="paginationCtrl">
            <div class="pull-right">
              <uib-pagination  previous-text="上一页" next-text="下一页" max-size="maxSize" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
            </div>
          </div>
    </div>
  </div>

  <div class="panel-tl">
    <div class="panel-tl-heading">
      <h4 class="tl-title text-aqua" ng-click="duetodayList = !duetodayList">今天到期(4)
        <span class="fa fa-angle-right" ng-hide="duetodayList"></span>
        <span class="fa fa-angle-down" ng-show="duetodayList"></span>
      </h4>
    </div>
    <div class="panel-tl-body" uib-collapse="duetodayList">
      <ul class="tl-list" >
        <li class="tl-list-item">
          <div class="tl-item-par">
            <div class="pull-left">
              <span class="tlsn">1</span>
              <span class="fa fa-plus-square-o"></span>
              <!--<span class="fa fa-minus-square-o"></span> -->
              <span class="tlname">Don't know if we each have a destiny</span>
            </div>
            <div class="pull-right">
              <span class="createtime">2016-03-03</span>
              <span class="iswatch"><i class="fa fa-star-o"></i> 关注</span>
              <!-- <span class="iswatch"><i class="fa fa-star"></i> 取消关注<span> -->
              <span class="isfinish"><i class="fa fa-square-o"></i> 标记完成</span>
              <!-- <span class="isfinish"><i class="fa fa-check-square-o"></i> 标记未完成<span> -->
            </div>
          </div>

          <ul class="tl-item-sub">
            <li class="tl-list-item">
              <div class="tl-item-par">
                <div class="pull-left">
                  <span class="fa fa-plus-square-o"></span>
                  <!--<span class="fa fa-minus-square-o"></span> -->
                  <span class="tlname">or if we're all just floating</span>
                </div>
                <div class="pull-right">
                  <span class="createtime">2016-03-03</span>
                  <span class="iswatch"><i class="fa fa-star-o"></i> 关注</span>
                  <!-- <span class="iswatch"><i class="fa fa-star"></i> 取消关注<span> -->
                  <span class="isfinish"><i class="fa fa-square-o"></i> 标记完成</span>
                  <!-- <span class="isfinish"><i class="fa fa-check-square-o"></i> 标记未完成<span> -->
                </div>
              </div>
              <ul class="tl-item-sub">
                <li class="tl-list-item">
                  <div class="tl-item-par">
                    <div class="pull-left">
                      <!-- <span class="fa fa-plus-square-o"></span> -->
                      <span class="fa fa-minus-square-o"></span>
                      <span class="tlname">around accidental-like on a breeze.</span>
                    </div>
                    <div class="pull-right">
                      <span class="createtime">2016-03-03</span>
                      <span class="iswatch"><i class="fa fa-star-o"></i> 关注</span>
                      <!-- <span class="iswatch"><i class="fa fa-star"></i> 取消关注<span> -->
                      <span class="isfinish"><i class="fa fa-square-o"></i> 标记完成</span>
                      <!-- <span class="isfinish"><i class="fa fa-check-square-o"></i> 标记未完成<span> -->
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="tl-list-item">
          <div class="tl-item-par">
            <div class="pull-left">
              <span class="tlsn">2</span>
              <!-- <span class="fa fa-plus-square-o"></span>
              <span class="fa fa-minus-square-o"></span> -->
              <span class="tlname">彼岸依旧似繁华</span>
            </div>
            <div class="pull-right">
              <span class="createtime">2016-03-03</span>
              <!-- <span class="iswatch"><i class="fa fa-star-o"></i> 关注</span> -->
              <span class="iswatch"><i class="fa fa-star"></i> 取消关注<span>
                <span class="isfinish"><i class="fa fa-square-o"></i> 标记完成</span>
                <!-- <span class="isfinish"><i class="fa fa-check-square-o"></i> 标记未完成<span> -->
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>

  <div class="panel-tl">
    <div class="panel-tl-heading">
      <h4 class="tl-title text-yellow" ng-click="otherdueList = !otherdueList">其它到期(4)
        <span class="fa fa-angle-right" ng-hide="otherdueList"></span>
        <span class="fa fa-angle-down" ng-show="otherdueList"></span>
      </h4>
    </div>
    <div class="panel-tl-body" uib-collapse="otherdueList">
      <ul class="tl-list">
        <li class="tl-list-item">
          <div class="tl-item-par">
            <span> 还没有其它到期的任务..... </span>
          </div>
        </li>
      </ul>
    </div>
  </div>



  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Modal Default</h4>
        </div>
        <div class="modal-body">
          <p>One fine body…</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="tl-modal">
    <div class="tl-modal-header">
        <h4 class="tl-modal-title">添加任务</h4>
        <div class="tl-modal-func">
          <a href="javascript:;"><i class="fa"></i>操作一</a>
          <a href="javascript:;"><i class="fa"></i>操作二</a>
          <a href="javascript:;"><i class="fa"></i>操作三</a>
        </div>
    </div>
    <div class="tl-modal-body task-box">
      <div class="task-box-item">
        <div class="col-sm-4">
          <label class="col-sm-4 control-label">任务类型:</label>
          <div class="col-sm-8">
            <select class="form-control">
              <option>告警处理</option>
              <option>业务目标</option>
              <option>营销待办</option>
            </select>
          </div>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="一句话描述任务信息......">
        </div>
      </div>
      <div class="task-box-item">
        <div class="col-sm-4">
          <label class="col-sm-4 control-label"><i class="fa fa-user"></i> 负责人:</label>
          <div class="col-sm-8 input-group">
              <input type="text" class="form-control" placeholder="负责人">
              <span class="input-group-addon"><i class="fa  fa-user-plus"></i></span>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="col-sm-4 control-label"><i class="fa fa-flag"></i> 到期日:</label>
          <div class="col-sm-8 input-group">
              <input type="text" class="form-control" placeholder="到期日">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="col-sm-4 control-label"><i class="fa fa-warning"></i> 紧急度:</label>
          <div class="col-sm-8">
            <select class="form-control">
              <option>正常</option>
              <option>紧急</option>
              <option>非常紧急</option>
            </select>
          </div>
        </div>
      </div>

      <div class="task-box-item">
        <label class="col-sm-2 control-label"><i class="fa fa-users"></i> 任务参与人:</label>
        <div class="col-sm-10 input-group">
            <input type="text" class="form-control" placeholder="负责人">
            <span class="input-group-addon"><i class="fa  fa-user-plus"></i></span>
        </div>
      </div>
      <div class="task-box-item">
        <label class="col-sm-2 control-label"><i class="fa  fa-file"></i> 任务描述:</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
        </div>
      </div>
      <div class="task-box-item">
        <label class="col-sm-2 control-label"><i class="fa fa-play-circle"></i> 起始日期:</label>
        <div class="col-sm-10 input-group">
            <input type="text" class="form-control" placeholder="到期日">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
      <div class="task-box-item">
        <label class="col-sm-2 control-label"><i class="fa  fa-file-archive-o"></i> 附件:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="点击上传附件......">
        </div>
      </div>

      <div class="task-box-item">
        <label class="col-sm-2 control-label"><i class="fa  fa-clock-o"></i> 提醒:</label>
        <div class="col-sm-10 task-remind-info">
          <span>到日期前：</span>
          <select class="form-control">
            <option>正常</option>
            <option>紧急</option>
            <option>非常紧急</option>
          </select>
          <span>天提醒，</span>
          <input type="checkbox"> 创建人
          <input type="checkbox"> 负责人
          <input type="checkbox"> 参与人
        </div>
      </div>

      <div class="task-box-item">
        <div class="col-sm-12">
          <div class="panel-tl">
            <div class="panel-tl-heading">
              <h4 class="tl-title">子任务
                <span class="fa fa-angle-right"></span>
              </h4>
              <div class="panel-tl-func">
                <a href="javascript">
                  <i class="fa fa-plus"> 新建子任务</i>
                </a>
              </div>
            </div>
            <div class="panel-tl-body">
              <ul class="tl-list">
                <li class="tl-list-item">
                  <div class="tl-item-par">
                    <span> 还没有其它到期的任务..... </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="task-box-item">
        <div class="col-sm-12 task-box-btn-group">
          <a href="javascript:;" class="task-box-btn col-sm-3">添加子任务</a>
          <a href="javascript:;" class="task-box-btn col-sm-3">起始日期</a>
          <a href="javascript:;" class="task-box-btn col-sm-3">附件</a>
          <a href="javascript:;" class="task-box-btn col-sm-3">提醒</a>
        </div>
      </div>

      <div class="task-box-item">
        <div class="col-sm-12 task-box-btn-group">
          <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="反馈及评论">

              <div class="task-box-content">
                <div class="task-box-item">
                  <div class="col-sm-12">
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>
                </div>
                <div class="task-box-item">
                  <div class="col-sm-offset-11 col-sm-2">
                    <button type="button" class="btn btn-info btn-w-xs">提交</button>
                  </div>
                </div>
              </div>


            </uib-tab>
            <uib-tab index="1" heading="查阅情况">
              <div class="task-box-content">
                  查阅情况tabcontent
              </div>
            </uib-tab>
            <uib-tab index="2" heading="操作日志">
              <div class="task-box-content">
                  操作日志tabcontent
              </div>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>

    </div>
  </div>

</section>
