.panel-tl{
  margin-bottom: 10px;
  background-color: #fff;
}
.panel-tl-heading{
  padding: 10px 15px 10px 0px;
}

.tl-title{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: inherit;

}
.panel-tl-body{
}
.tl-list{
  margin: 0;
  padding:0px;
  border:1px solid #eee;
}
.tl-item{
    list-style: none;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    position: relative;
    padding:0px 10px;
    border-bottom: 1px solid #eee;
}
.tl-item:last-child{
  border-bottom: 0px;
}
.tl-item>.pull-left>span,.tl-item>.pull-right>span{
  display: inline-block;
  padding:0px 10px;
}
.tl-item>.pull-right>span.iswatch,
.tl-item>.pull-right>span.isfinish{
  display: none;
}
.tl-item:hover{
  background-color: #eee;
}
.tl-item:hover>.pull-right>span.iswatch,
.tl-item:hover>.pull-right>span.isfinish{
  display: inline-block;
}
.tl-item:hover>.pull-right>span.createtime{
  display: none;
}
.tl-item span.name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;


  display: inline-block;
      vertical-align: top;
}
