/**panel-tl**/
.panel-tl {
  margin-bottom: 10px;
  background-color: #fff;
}
.panel-tl-heading {
  padding: 10px 15px 10px 0px;
  border-bottom:1px solid #eee;
}
.tl-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
  font-weight: 400;
}
.tl-title:hover{
  cursor: pointer;
}
.panel-tl-body {}
.panel-tl-footer:after{
  clear: both;
  display: block;
  content: "";
  height: 0;
}
.panel-tl-footer .pagination{
  margin-bottom: 0px;
}
/**tl-list**/
.panel-tl ul,.panel-tl ol{
  padding:0;
}

.tl-list {
  margin: 0;
  padding: 0px;
  border: 1px solid #eee;
  border-top:0px;
}

.tl-list:after{
  clear: both;
  display: block;
  content: "";
  height: 0;
}

.tl-list-item{
  list-style: none;
  min-height: 44px;
  line-height: 44px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #eee;
}
.tl-list-item:last-child{
  border-bottom: 0;

}

.tl-item-par:hover{
  background-color: #eee;
}
.tl-item-par{
  padding: 0px 10px;
  width: 100%;
}
.tl-item-sub .tl-item-par {
  padding-left: 50px !important;
}
.tl-item-sub .tl-item-sub .tl-item-par{
  padding-left: 70px !important;
}

.tl-item-sub{
  width: 100%;
}
.tl-item-sub:after,.tl-item-par:after{
  clear: both;
  display: block;
  content: "";
  height: 0;
}

.tl-item-par .tlname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 40em;
  display: inline-block;
  vertical-align: top;
}
.tl-item-par span{
  display: inline-block;
  padding: 0px 6px;
}
.tl-item-par .iswatch, .tl-item-par .isfinish {
  display: none;
}
.tl-item-par:hover .iswatch, .tl-item-par:hover .isfinish{
  display: inline-block;
}
.tl-item-par:hover .createtime{
  display: none;
}
.tl-item-par .tlname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 40em;
  display: inline-block;
  vertical-align: top;
}
.tl-item-par>span{
  color:#ccc;
}

.tl-modal:after{
  clear: both;
  display: block;
  height: 0;
  content: "";
}
