<div class="content" ng-controller="collapseCtrl">
  <div class="panel-tl">
      <div class="panel-tl-heading">
          <h4 class="tl-title text-red" ng-click="delayList = !delayList">已经延期
            <span class="fa fa-angle-right" ng-hide="delayList"></span>
            <span class="fa fa-angle-down" ng-show="delayList"></span>
          </h4>
      </div>
      <ul class="panel-tl-body" uib-collapse="delayList">
        li
      </ul>
  </div>
  <div class="panel-tl">
      <div class="panel-tl-heading">
          <h4 class="tl-title text-aqua" ng-click="duetodayList = !duetodayList">今天到期
            <span class="fa fa-angle-right" ng-hide="duetodayList"></span>
            <span class="fa fa-angle-down" ng-show="duetodayList"></span>
          </h4>
      </div>
      <ul class="panel-tl-body" uib-collapse="duetodayList">
          Panel content
      </ul>
  </div>
  <div class="panel-tl">
      <div class="panel-tl-heading">
          <h4 class="tl-title text-yellow" ng-click="otherdueList = !otherdueList">其它到期
            <span class="fa fa-angle-right" ng-hide="otherdueList"></span>
            <span class="fa fa-angle-down" ng-show="otherdueList"></span>
          </h4>
      </div>
      <ul class="panel-tl-body" uib-collapse="otherdueList">
          Panel content
      </ul>
  </div>
