@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

html,
body {
    min-height: 100%;
}

body {
    padding: 0 !important;
}

.layout-boxed html,
.layout-boxed body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Microsoft YaHei', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

}

/* General Links */
a {
    color: #2a99e3;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* color */
.color-blue {
    color: #2a99e3;
}

.color-white {
    color: #fff;
}

.color-green {
    color: #1fb5ad;
}

.color-grey {
    color: #999;
}

/* text-align */
.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/* font-size */
.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-30 {
    font-size: 30px;
}

.line-height-20 {
    line-height: 20px;
}

/* bg-color */
.bg-blue {
    background: rgba(42, 153, 227, 0.7);
    border-bottom: 3px solid rgba(74, 137, 220, 0.7);
}

.bg-green {
    background: rgba(31, 181, 173, 0.7);
    border-bottom: 3px solid rgba(22, 139, 133, 0.7);
}

.bg-red {
    background: rgba(255, 113, 113, 0.7);
    border-bottom: 3px solid rgba(235, 70, 70, 0.7);
}

/* margin */
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-30 {
    margin-right: 30px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

/*btn */
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #9c3;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
}

.btn-u:hover {
    background: #76983a;
}

/* Layout */
.wrapper {
    min-height: 100%;
    position: static;
    overflow: hidden;
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}

.wrapper:after {
    clear: both;
}

.layout-boxed .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.layout-boxed {
    /*background: url('../img/boxed-bg.jpg') repeat fixed;*/
}

/*
 * Content Wrapper - contains the main content
 * ```.right-side has been deprecated as of v2.0.0 in favor of .content-wrapper  ```
 */
.content-wrapper,
.right-side,
.main-footer {
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 130px;
    z-index: 820;
}

.layout-top-nav .content-wrapper,
.layout-top-nav .right-side,
.layout-top-nav .main-footer {
    margin-left: 0;
}

@media (max-width: 767px) {
    .content-wrapper,
    .right-side,
    .main-footer {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .sidebar-collapse .content-wrapper,
    .sidebar-collapse .right-side,
    .sidebar-collapse .main-footer {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .sidebar-open .content-wrapper,
    .sidebar-open .right-side,
    .sidebar-open .main-footer {
        -webkit-transform: translate(130px, 0);
        -ms-transform: translate(130px, 0);
        -o-transform: translate(130px, 0);
        transform: translate(130px, 0);
    }
}

.content-wrapper,
.right-side {
    min-height: 100%;
    background-color: #f3f7fa;
    z-index: 800;
    /*margin-top: 50px;*/
}

.topCrumb {
    background-color: #ecf0f5;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Fixed layout */
.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
    position: fixed;
}

.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}

.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 50px;
}

@media (max-width: 767px) {
    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 120px;
    }
}

.fixed.layout-boxed .wrapper {
    max-width: 100%;
}

body.hold-transition .content-wrapper,
body.hold-transition .right-side,
body.hold-transition .main-footer,
body.hold-transition .main-sidebar,
body.hold-transition .left-side,
body.hold-transition .main-header > .navbar,
body.hold-transition .main-header .logo {
    /* Fix for IE */
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

/* Content */
.content {
    min-height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.frame-nav-tab {
    border-bottom: 2px #9c3 solid;
    margin-bottom: 20px;
}

.frame-nav-tab li a {
    padding: 6px 30px;
    cursor: pointer;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    cursor: pointer;
}

.chart-legend {
    margin: 10px 0;
}

.topAction .fl a {
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
    float: left;
}

.topAction .fl a.color-blue {
    color: #4a8a91;
}

.topAction .fl a.color-yellow {
    color: #efc41a;
}

.topAction .fl a.color-gray {
    color: #525159;
}

.topAction .fr button.caozuo {
    border: none;
    background: none;
}

.topAction .fr .dropdown {
    display: inline-block;
}

.breadcrumb {
    margin-bottom: 0;
    background: none;
    padding: 0 0 10px 0;
}

.boderBottom {
    border-bottom: 1px #d9e1e4 solid;
}

.main-content {
    border-top: 1px #fff solid;
    background: #f3f7fa;
    padding: 10px 15px 0;
}

.main-content .table {
    background: #fff;
}

.main-content .table > thead > tr > th {
    background: #f3f7fa;
}

.border-bottom-2 {
    border-bottom: 2px #eeeeee solid;
}

.jiankongzhi button {
    border: 0;
    background: none;
    color: #999;
}

.choseCenter {
    margin-top: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.choseCenter .btn {
    padding: 2px 12px;
}

.dropdown .btn {
    border: 1px #d9e1e5 solid;
    padding: 5px 15px;
}

.showResult {
    width: 60%;
    margin: 20px auto;
}

.bg-warning {
    background: #f4f7f9;
}

@media (max-width: 991px) {
    .chart-legend > li {
        float: left;
        margin-right: 10px;
    }

    .topbar {
        position: relative;
    }

    .content-wrapper {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .content-wrapper {
        margin-top: 100px;
    }
}

@media (max-width: 476px) {
    .content-wrapper {
        margin-top: 150px;
    }
}


/*********** 任务田 start **************/

.main-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
}
.content-wrapper{
    min-height: 100%;
    /*background-color: #e9e9e9;*/
    z-index: 800;
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}

.text-red {
    color: #dd4b39 !important
}

.text-yellow {
    color: #f39c12 !important
}

.text-aqua {
    color: #00c0ef !important
}

.text-blue {
    color: #0073b7 !important
}

.text-black {
    color: #111 !important
}

.text-light-blue {
    color: #3c8dbc !important
}

.text-green {
    color: #00a65a !important
}

.text-gray {
    color: #d2d6de !important
}

.text-navy {
    color: #001f3f !important
}

.text-teal {
    color: #39cccc !important
}

.text-olive {
    color: #3d9970 !important
}

.text-lime {
    color: #01ff70 !important
}

.text-orange {
    color: #ff851b !important
}

.text-fuchsia {
    color: #f012be !important
}

.text-purple {
    color: #605ca8 !important
}

.text-maroon {
    color: #d81b60 !important
}




/*********** 任务田 end**************/
